@model IEnumerable<Samuel_e_Linerker.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="CadastrarUsuario" asp-controller="Usuario">Cadastrar</a>
</p>
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(Model => Model.IdUsu)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.nomeUsu)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.Cargo)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.DataNasc)</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Usuario usuario in Model)
        {
        <tr>
            <td>@usuario.IdUsu</td>
            <td>@usuario.nomeUsu</td>
            <td>@usuario.Cargo</td>
            <td>@usuario.DataNasc.ToString("dd/mm/yyyy")</td>
            <td>
                <button type="button" class="btn btn-warning">
                    @Html.ActionLink("Editar", "AtualizarUsuario", new { id= usuario.IdUsu  }) |
                </button>

                <button type="button" class="btn btn-secondary">
                    @Html.ActionLink("Detalhar", "DetalharUsuario", new {  id= usuario.IdUsu  })
                </button>

                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new {  id= usuario.IdUsu  })
                </button>
            </td>                  
        </tr>
}
    </tbody>

  </table>
</div>
